USE [db_emniyet_suc_takip]
GO
/****** Object:  Table [dbo].[tbl_delil]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_delil](
	[delil_id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[bulunma_tarihi] [date] NOT NULL,
	[konum] [nvarchar](50) NOT NULL,
	[suc_id] [int] NOT NULL,
	[delil_turu_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_delil] PRIMARY KEY CLUSTERED 
(
	[delil_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_delil_turu]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_delil_turu](
	[delil_turu_id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_delil_turu] PRIMARY KEY CLUSTERED 
(
	[delil_turu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_gorev]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_gorev](
	[görev_id] [int] IDENTITY(1,1) NOT NULL,
	[görev_birimi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_görev] PRIMARY KEY CLUSTERED 
(
	[görev_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ihbar]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ihbar](
	[ihbar_id] [int] IDENTITY(1,1) NOT NULL,
	[ihbar_tarihi] [date] NOT NULL,
	[ihbar_durumu] [nvarchar](50) NOT NULL,
	[ihbar_kanalı] [nvarchar](50) NOT NULL,
	[vatandas_id] [int] NOT NULL,
	[suc_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_ihbar] PRIMARY KEY CLUSTERED 
(
	[ihbar_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ilce]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ilce](
	[ilce_id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Mahalle] [nvarchar](50) NOT NULL,
	[sokak] [nvarchar](50) NOT NULL,
	[cadde] [nvarchar](50) NOT NULL,
	[sehir_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_ilçe] PRIMARY KEY CLUSTERED 
(
	[ilce_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_karakol]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_karakol](
	[karakol_id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](11) NOT NULL,
	[ilce_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_karakol] PRIMARY KEY CLUSTERED 
(
	[karakol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tbl_karakol_telefon_tekrar_etmesin] UNIQUE NONCLUSTERED 
(
	[Telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_karakol_ihbar_yapilir]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_karakol_ihbar_yapilir](
	[karakol_ihbar_yapilir_id] [int] IDENTITY(1,1) NOT NULL,
	[karakol_id] [int] NOT NULL,
	[ihbar_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_karakol_ihbar_yapilir] PRIMARY KEY CLUSTERED 
(
	[karakol_ihbar_yapilir_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_olay_yeri]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_olay_yeri](
	[olay_yeri_id] [int] IDENTITY(1,1) NOT NULL,
	[Adres] [nvarchar](50) NOT NULL,
	[ilce_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_olay_yeri] PRIMARY KEY CLUSTERED 
(
	[olay_yeri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_polis]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_polis](
	[polis_id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Doğum_Tarihi] [date] NOT NULL,
	[Telefon] [nvarchar](11) NOT NULL,
	[E-mail] [nvarchar](50) NOT NULL,
	[Adres] [nvarchar](50) NOT NULL,
	[görev_id] [int] NOT NULL,
	[rütbe_id] [int] NOT NULL,
	[karakol_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_polis] PRIMARY KEY CLUSTERED 
(
	[polis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tbl_polis_telefon_tekrar_etmesin] UNIQUE NONCLUSTERED 
(
	[Telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_rutbe]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_rutbe](
	[rütbe_id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Rütbe_seviyesi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_rütbe] PRIMARY KEY CLUSTERED 
(
	[rütbe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_sehir]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_sehir](
	[sehir_id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_sehir] PRIMARY KEY CLUSTERED 
(
	[sehir_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_suc]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_suc](
	[suc_id] [int] IDENTITY(1,1) NOT NULL,
	[tarih] [date] NOT NULL,
	[durumu] [nvarchar](50) NOT NULL,
	[suc_turu_id] [int] NOT NULL,
	[olay_yeri_id] [int] NOT NULL,
	[tanik_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_suc] PRIMARY KEY CLUSTERED 
(
	[suc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_suc_turu]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_suc_turu](
	[suc_turu_id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_suc_turu] PRIMARY KEY CLUSTERED 
(
	[suc_turu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_supheli]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_supheli](
	[supheli_id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[TcNo] [nvarchar](50) NOT NULL,
	[dogum_tarihi] [date] NOT NULL,
	[adres] [nvarchar](50) NOT NULL,
	[vatandas_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_süpheli] PRIMARY KEY CLUSTERED 
(
	[supheli_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tbl_supheli_TcNo_tekrar_etmesin] UNIQUE NONCLUSTERED 
(
	[TcNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_supheli_suc_isler]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_supheli_suc_isler](
	[supheli_suc_isler_id] [int] IDENTITY(1,1) NOT NULL,
	[supheli_id] [int] NOT NULL,
	[suc_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_supheli_suc_isler] PRIMARY KEY CLUSTERED 
(
	[supheli_suc_isler_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_tanik]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_tanik](
	[tanik_id] [int] IDENTITY(1,1) NOT NULL,
	[ifade_tarihi] [date] NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[TcNo] [nvarchar](11) NOT NULL,
	[karakol_id] [int] NOT NULL,
	[vatandas_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_tanık] PRIMARY KEY CLUSTERED 
(
	[tanik_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tbl_tanik_TcNo_tekrar_etmesin] UNIQUE NONCLUSTERED 
(
	[TcNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_vatandas]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_vatandas](
	[vatandas_id] [int] IDENTITY(1,1) NOT NULL,
	[TcNo] [nvarchar](50) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[dogum_tarihi] [date] NOT NULL,
	[Adres] [nvarchar](50) NOT NULL,
	[telefon] [nvarchar](11) NOT NULL,
	[E_mail] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_vatandas] PRIMARY KEY CLUSTERED 
(
	[vatandas_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tbl_vatandas_telefon_tekrar_etmesin] UNIQUE NONCLUSTERED 
(
	[telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_vatandas_tanik_olur]    Script Date: 25.05.2026 15:26:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_vatandas_tanik_olur](
	[vatandas_tanik_olur_id] [int] IDENTITY(1,1) NOT NULL,
	[tanik_id] [int] NOT NULL,
	[vatandas_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_vatandas_tanik_olur] PRIMARY KEY CLUSTERED 
(
	[vatandas_tanik_olur_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_ihbar] ADD  CONSTRAINT [DF_tbl_ihbar_ihbar_durumu]  DEFAULT (N'bilinmiyor') FOR [ihbar_durumu]
GO
ALTER TABLE [dbo].[tbl_suc] ADD  CONSTRAINT [DF_tbl_suc_durumu]  DEFAULT (N'Beklemede') FOR [durumu]
GO
ALTER TABLE [dbo].[tbl_delil]  WITH CHECK ADD  CONSTRAINT [FK_tbl_delil_tbl_delil_turu] FOREIGN KEY([delil_turu_id])
REFERENCES [dbo].[tbl_delil_turu] ([delil_turu_id])
GO
ALTER TABLE [dbo].[tbl_delil] CHECK CONSTRAINT [FK_tbl_delil_tbl_delil_turu]
GO
ALTER TABLE [dbo].[tbl_delil]  WITH CHECK ADD  CONSTRAINT [FK_tbl_delil_tbl_suc] FOREIGN KEY([suc_id])
REFERENCES [dbo].[tbl_suc] ([suc_id])
GO
ALTER TABLE [dbo].[tbl_delil] CHECK CONSTRAINT [FK_tbl_delil_tbl_suc]
GO
ALTER TABLE [dbo].[tbl_ihbar]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ihbar_tbl_suc] FOREIGN KEY([suc_id])
REFERENCES [dbo].[tbl_suc] ([suc_id])
GO
ALTER TABLE [dbo].[tbl_ihbar] CHECK CONSTRAINT [FK_tbl_ihbar_tbl_suc]
GO
ALTER TABLE [dbo].[tbl_ihbar]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ihbar_tbl_vatandas] FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[tbl_vatandas] ([vatandas_id])
GO
ALTER TABLE [dbo].[tbl_ihbar] CHECK CONSTRAINT [FK_tbl_ihbar_tbl_vatandas]
GO
ALTER TABLE [dbo].[tbl_ilce]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ilçe_tbl_sehir] FOREIGN KEY([sehir_id])
REFERENCES [dbo].[tbl_sehir] ([sehir_id])
GO
ALTER TABLE [dbo].[tbl_ilce] CHECK CONSTRAINT [FK_tbl_ilçe_tbl_sehir]
GO
ALTER TABLE [dbo].[tbl_karakol]  WITH CHECK ADD  CONSTRAINT [FK_tbl_karakol_tbl_ilçe] FOREIGN KEY([ilce_id])
REFERENCES [dbo].[tbl_ilce] ([ilce_id])
GO
ALTER TABLE [dbo].[tbl_karakol] CHECK CONSTRAINT [FK_tbl_karakol_tbl_ilçe]
GO
ALTER TABLE [dbo].[tbl_karakol_ihbar_yapilir]  WITH CHECK ADD  CONSTRAINT [FK_tbl_karakol_ihbar_yapilir_tbl_ihbar] FOREIGN KEY([ihbar_id])
REFERENCES [dbo].[tbl_ihbar] ([ihbar_id])
GO
ALTER TABLE [dbo].[tbl_karakol_ihbar_yapilir] CHECK CONSTRAINT [FK_tbl_karakol_ihbar_yapilir_tbl_ihbar]
GO
ALTER TABLE [dbo].[tbl_karakol_ihbar_yapilir]  WITH CHECK ADD  CONSTRAINT [FK_tbl_karakol_ihbar_yapilir_tbl_karakol] FOREIGN KEY([karakol_id])
REFERENCES [dbo].[tbl_karakol] ([karakol_id])
GO
ALTER TABLE [dbo].[tbl_karakol_ihbar_yapilir] CHECK CONSTRAINT [FK_tbl_karakol_ihbar_yapilir_tbl_karakol]
GO
ALTER TABLE [dbo].[tbl_olay_yeri]  WITH CHECK ADD  CONSTRAINT [FK_tbl_olay_yeri_tbl_ilçe] FOREIGN KEY([ilce_id])
REFERENCES [dbo].[tbl_ilce] ([ilce_id])
GO
ALTER TABLE [dbo].[tbl_olay_yeri] CHECK CONSTRAINT [FK_tbl_olay_yeri_tbl_ilçe]
GO
ALTER TABLE [dbo].[tbl_polis]  WITH CHECK ADD  CONSTRAINT [FK_tbl_polis_tbl_görev] FOREIGN KEY([görev_id])
REFERENCES [dbo].[tbl_gorev] ([görev_id])
GO
ALTER TABLE [dbo].[tbl_polis] CHECK CONSTRAINT [FK_tbl_polis_tbl_görev]
GO
ALTER TABLE [dbo].[tbl_polis]  WITH CHECK ADD  CONSTRAINT [FK_tbl_polis_tbl_karakol] FOREIGN KEY([karakol_id])
REFERENCES [dbo].[tbl_karakol] ([karakol_id])
GO
ALTER TABLE [dbo].[tbl_polis] CHECK CONSTRAINT [FK_tbl_polis_tbl_karakol]
GO
ALTER TABLE [dbo].[tbl_polis]  WITH CHECK ADD  CONSTRAINT [FK_tbl_polis_tbl_rütbe] FOREIGN KEY([rütbe_id])
REFERENCES [dbo].[tbl_rutbe] ([rütbe_id])
GO
ALTER TABLE [dbo].[tbl_polis] CHECK CONSTRAINT [FK_tbl_polis_tbl_rütbe]
GO
ALTER TABLE [dbo].[tbl_suc]  WITH CHECK ADD  CONSTRAINT [FK_tbl_suc_tbl_olay_yeri] FOREIGN KEY([olay_yeri_id])
REFERENCES [dbo].[tbl_olay_yeri] ([olay_yeri_id])
GO
ALTER TABLE [dbo].[tbl_suc] CHECK CONSTRAINT [FK_tbl_suc_tbl_olay_yeri]
GO
ALTER TABLE [dbo].[tbl_suc]  WITH CHECK ADD  CONSTRAINT [FK_tbl_suc_tbl_suc_turu] FOREIGN KEY([suc_turu_id])
REFERENCES [dbo].[tbl_suc_turu] ([suc_turu_id])
GO
ALTER TABLE [dbo].[tbl_suc] CHECK CONSTRAINT [FK_tbl_suc_tbl_suc_turu]
GO
ALTER TABLE [dbo].[tbl_suc]  WITH CHECK ADD  CONSTRAINT [FK_tbl_suc_tbl_tanik] FOREIGN KEY([tanik_id])
REFERENCES [dbo].[tbl_tanik] ([tanik_id])
GO
ALTER TABLE [dbo].[tbl_suc] CHECK CONSTRAINT [FK_tbl_suc_tbl_tanik]
GO
ALTER TABLE [dbo].[tbl_supheli]  WITH CHECK ADD  CONSTRAINT [FK_tbl_süpheli_tbl_vatandas] FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[tbl_vatandas] ([vatandas_id])
GO
ALTER TABLE [dbo].[tbl_supheli] CHECK CONSTRAINT [FK_tbl_süpheli_tbl_vatandas]
GO
ALTER TABLE [dbo].[tbl_supheli_suc_isler]  WITH CHECK ADD  CONSTRAINT [FK_tbl_supheli_suc_isler_tbl_suc] FOREIGN KEY([suc_id])
REFERENCES [dbo].[tbl_suc] ([suc_id])
GO
ALTER TABLE [dbo].[tbl_supheli_suc_isler] CHECK CONSTRAINT [FK_tbl_supheli_suc_isler_tbl_suc]
GO
ALTER TABLE [dbo].[tbl_supheli_suc_isler]  WITH CHECK ADD  CONSTRAINT [FK_tbl_supheli_suc_isler_tbl_supheli] FOREIGN KEY([supheli_id])
REFERENCES [dbo].[tbl_supheli] ([supheli_id])
GO
ALTER TABLE [dbo].[tbl_supheli_suc_isler] CHECK CONSTRAINT [FK_tbl_supheli_suc_isler_tbl_supheli]
GO
ALTER TABLE [dbo].[tbl_tanik]  WITH CHECK ADD  CONSTRAINT [FK_tbl_tanık_tbl_karakol] FOREIGN KEY([karakol_id])
REFERENCES [dbo].[tbl_karakol] ([karakol_id])
GO
ALTER TABLE [dbo].[tbl_tanik] CHECK CONSTRAINT [FK_tbl_tanık_tbl_karakol]
GO
ALTER TABLE [dbo].[tbl_tanik]  WITH CHECK ADD  CONSTRAINT [FK_tbl_tanık_tbl_vatandas] FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[tbl_vatandas] ([vatandas_id])
GO
ALTER TABLE [dbo].[tbl_tanik] CHECK CONSTRAINT [FK_tbl_tanık_tbl_vatandas]
GO
ALTER TABLE [dbo].[tbl_vatandas_tanik_olur]  WITH CHECK ADD  CONSTRAINT [FK_tbl_vatandas_tanik_olur_tbl_tanik] FOREIGN KEY([tanik_id])
REFERENCES [dbo].[tbl_tanik] ([tanik_id])
GO
ALTER TABLE [dbo].[tbl_vatandas_tanik_olur] CHECK CONSTRAINT [FK_tbl_vatandas_tanik_olur_tbl_tanik]
GO
ALTER TABLE [dbo].[tbl_vatandas_tanik_olur]  WITH CHECK ADD  CONSTRAINT [FK_tbl_vatandas_tanik_olur_tbl_vatandas] FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[tbl_vatandas] ([vatandas_id])
GO
ALTER TABLE [dbo].[tbl_vatandas_tanik_olur] CHECK CONSTRAINT [FK_tbl_vatandas_tanik_olur_tbl_vatandas]
GO
ALTER TABLE [dbo].[tbl_karakol]  WITH CHECK ADD  CONSTRAINT [CK_tbl_karakol] CHECK  ((len([telefon])=(11)))
GO
ALTER TABLE [dbo].[tbl_karakol] CHECK CONSTRAINT [CK_tbl_karakol]
GO
ALTER TABLE [dbo].[tbl_polis]  WITH CHECK ADD  CONSTRAINT [CK_tbl_polis] CHECK  ((len([telefon])=(11)))
GO
ALTER TABLE [dbo].[tbl_polis] CHECK CONSTRAINT [CK_tbl_polis]
GO
ALTER TABLE [dbo].[tbl_supheli]  WITH CHECK ADD  CONSTRAINT [CK_tbl_supheli] CHECK  ((len([TcNo])=(11)))
GO
ALTER TABLE [dbo].[tbl_supheli] CHECK CONSTRAINT [CK_tbl_supheli]
GO
ALTER TABLE [dbo].[tbl_tanik]  WITH CHECK ADD  CONSTRAINT [CK_tbl_tanik] CHECK  ((len([TcNo])=(11)))
GO
ALTER TABLE [dbo].[tbl_tanik] CHECK CONSTRAINT [CK_tbl_tanik]
GO
ALTER TABLE [dbo].[tbl_vatandas]  WITH CHECK ADD  CONSTRAINT [CK_tbl_vatandas] CHECK  ((len([telefon])=(11)))
GO
ALTER TABLE [dbo].[tbl_vatandas] CHECK CONSTRAINT [CK_tbl_vatandas]
GO
